@import "tailwindcss";

:root {
  --background: #181718;
  --foreground: #ededed;
}

.darker-placeholder::placeholder {
  color: #888 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181718;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
